
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  }
	.hero {
	background-image:url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
	background-size: cover;
	border-style: solid;
  }
 		 #hello{
	  color: white;
  }
		#n1 {
	background-color: rgb(116, 235, 116);
}
		#n2 {
	background-color: orange;
}
	.majestic{
	width: 500px;
	height: 400px;
}
		#headlineA {
	text-align:left;
	color: brown;
}
		#headlineB {
	text-align:left;
	color:chocolate;

}
	.assignment2{
	border-style: solid;
	background-size:cover;
	background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/43D8/production/_111686371_pic1.png");
}
		#loremipsum{
	text-align:justify;
	color: rgb(231, 57, 38);
}
		#loremtext{
	text-size-adjust:initial;
	color:mediumblue;
}
		#proof{
			color:white
		}
