* {
	 margin: 0;
	 padding: 10px;
	   border: 0; 
	   font-size: 100%;
	   
	 }
	 
body {
	font-family: 'RocknRoll One', sans-serif;
	font-weight: 300;
  }


	header {
	background-image:url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
	border-style: solid;
	padding-bottom: 8px;
	color:white;
  }
  

}
#headlineB {
	text-align:left;
	color: brown;
}

footer{
	background-color:lightgray;
	padding-bottom: 59px;
}

